
@{
    ViewData["Title"] = "Home Page";
}


<div class="container my-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="mb-4">FPTJobMatch</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <p class="lead">
                Welcome to <strong>FPT Job Match</strong>, your trusted platform for connecting talented job seekers with exceptional employers.
                Our mission is to simplify the job search process and create meaningful opportunities for both candidates and businesses.
            </p>
            <p>
                At <strong>FPT Job Match</strong>, we believe in the power of technology to transform the way people find jobs and companies hire talent.
                Our platform is designed to match the right candidates to the right roles, ensuring a perfect fit for career growth and organizational success.
            </p>
            <p>
                Whether you're a job seeker looking for your dream job or an employer searching for top-tier talent,
                FPT Job Match is here to help you achieve your goals. Explore our services and let us guide you on your journey to success!
            </p>
        </div>
    </div>
</div>